@charset "utf-8";
/* CSS Document */


.bg{
	width:100%;
	background:url(../images/bg_02.png) repeat;
/*	background: -moz-linear-gradient(top, #1393f3 0%, #80dbfe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1393f3), color-stop(100%,#80dbfe));
    background: -webkit-linear-gradient(top, #1393f3 0%,#80dbfe 100%);
    background: -o-linear-gradient(top, #1393f3 0%,#80dbfe 100%);
    background: -ms-linear-gradient(top, #1393f3 0%,#80dbfe 100%);
    background: linear-gradient(to bottom, #1393f3 0%,#80dbfe 100%);
*/	
   height:385px;
	}
.foot{
	height:30px; 
	bottom:0; 
	position:fixed; 
	background-color:#f0f0f0;
	 width:100%; 
	 text-align:center;
	 color:#999999;
	 font-size:12px;
	 line-height:30px;
	}
.login{
	margin:0 auto;
	width:598px;
	height:293px;
    background:rgba(255,255,255,0.3);
	padding-top:10px;
	
	}
.login01{
	width:576px;
	height:273px;
	background-color:#fff;
	margin:0 auto;
	border:1px #ffffff solid;
	}
.login01 img{
	width:183px;
	height:224px;
	}
.login01 .content img{
	width:183px;
	height:166px;
	}
.login01 span{
	width:212px;
	height:166px;
	float:left;
	}
	
.login01 span input{
	border:1px solid #c3c2c2;
	color:#a2a2a2;
	font-size:12px;
	width:256px;
	height:37px;
	margin:10px 0px 10px 0px;
	text-indent:26px;
	
	}
.login01 span button{
	background-color:#0a9bf8;
	width:256px;
	height:37px;
	color:#fff;
	font-size:16px;
	border:0;
	margin:10px 0px 0px 0px;}
.banner{
	margin:0 auto;
	width:602px;
	height:224px;}
.content{
	width:476px; 
	height:167px; 
	margin:0 auto; 
	margin-top:50px;
	}