package ${rootPackage}${module}.${function}.repository;
import org.springframework.stereotype.Repository;
import ${rootPackage}${module}.${function}.entity.${upperTableName};
import com.taiji.core.base.repository.BaseRepository;
	/** 
	 * 模块名称：${module} 功能名称：${function}
	 * @author ${author}
	 * 创建时间：${date}
	 */
@Repository
public interface ${upperTableName}Repository extends BaseRepository<${upperTableName}, String>{

	/**
	 * 请将自定义方法按此格式写在下面	
	 * @author
	 * @version
	 * @see
	 * @param 
	 * @return  
	 * @exception
	 * @date
	 * 
	 */

}
